/*body*/
*{
    margin: 0 auto;
    box-sizing: border-box;
}
.resp {
    width: 100%;
    height: auto;
}
/*base.html*/
.row{
    height:120px;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    background-color: #e0e0e0;

}
ul{
    display:flex;
    width:50%;
    margin-left:30px;
    list-style: none;

}
li{
    font-size:2em;
    padding:0px 10px;
    margin: 70px 5px 0px 10px;
}
a{
    color:black;
}
a:hover{
    background-color: #5eb5e0;
}

.row1{
    width: 100%;
    height:120px;
    background-color: #e0e0e0;

}
h1{
    font-size:2em;
    margin-top:30%;
    padding:10px;
    text-align:center;
}
/* premiere page logo image*/
.img{
    width:7%;
    margin-top: 1%;
}
.image{
    width:5%;
    margin-left:50%;
    margin-top: 3%;
}
.im{
    width: 100%;
    margin-top:30%;
}
/*deuxieme page images et titres*/
main,.container{
    display: flex;
    display:inline-block;
    width:100%;
}
.article {
    display: flex;
    display: inline-block;
    width:30%;
    margin:20px;
}
.content {
    width:80%;
    padding-top: 20%;
}
h2{
    font-size:1em;
    text-align: center;

}
/*derniere pages*/
p{
    font-size: medium;
    font-family: "Arial Black";

}
section{
    padding:100px 0px;
}

