{% extends'base.html.twig' %}

{% block main %}
    <main>
        {# ma deuxieme page avec une boucle for je passer sur chaque elements de mon tableau j'affiche mes images et mes titres#}
        <div class="container">
                   {% for article in articles %}
                        <article class="article">
                            <div class="content">
                                <img src="{{ article.image }}" alt="image" class="resp"/>
                            </div>
                            <h2>{{ article.title }}</h2>
                        </article>
                   {% endfor %}
        </div>
    </main>
{% endblock main %}
